aside {
  background: #000000af;
  height: 100vh;
  flex-basis: 20%;
  overflow: scroll;
}

.slideSnap {
  background: aqua;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  display: flex;
  position: relative;
}
.slideSnap > button {
  position: absolute;
  right: 0;
  top: 0;
  border: navajowhite;
  padding: 0.2rem;
  background: palevioletred;
  color: white;
}